* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background: #9833dc;
    color: #000000;
    padding: 1rem;
}

.btn {
    background: rgb(253, 224, 34);
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.9;
}

.page-info {
    margin-left: 1rem;
}

.upload-bar {
    background: #ffffff;
    padding: 1rem;
    margin: 1rem;
}

.error {
    background: rgb(0, 0, 0);
    color: #590404;
    padding: 1rem;
}